workspace {
    !identifiers hierarchical
    !impliedRelationships true

    name "{{project.name | capitalize}} system landscape"
    description "All {{project.name | capitalize}} software systems"

    !docs docs/landscape/

    model {
        user = person "User"
        mySoftwareSystem = softwareSystem "My Software System"

        user -> mySoftwareSystem "Uses"
    }

    views {
        systemLandscape "landscape" {
            include *
            autoLayout
        }

        systemContext mySoftwareSystem "Diagram1" {
            include *
        }

        styles {
            element "Database" {
                shape Cylinder
            }
            element "External" {
                background #999999
                color #ffffff
            }
        }

        theme default
    }

    !plugin plantuml.PlantUMLEncoderPlugin
}
